<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Yoklamalar</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 100px;">
              <button class="btn btn-default btn-block" data-toggle="modal" data-target="#rollcall-modal-create">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>ID</th>
                <th>Açıklama</th>
                <th>Tarih</th>
                <th>İşlem</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="rc in st.rollcalls" :key="rc.id">
                <td>{{ rc.id }}</td>
                <td>{{ rc.title }}</td>
                <td>{{ dateHuman(rc.date) }}</td>
                <td class="p-1">
                  <router-link :to="`/rollcall/${rc.id}`" class="btn btn-info btn-block">Detay</router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

    <!-- The Modal -->
  <div class="modal" id="rollcall-modal-create">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Yoklama Oluştur</h4>
        </div>

        <form @submit.prevent="saveRollCall">
          <div class="modal-body">
            <div class="form-group">
              <label>Başlık</label>
              <input v-model="st.form.title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label>Tarih:</label>
              <div class="input-group date" id="form-date" data-target-input="nearest">
                  <input v-model="st.form.date"
                    type="text" class="form-control datetimepicker-input" data-target="#form-date"/>
                  <div class="input-group-append" data-target="#form-date" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer p-0">
            <button type="submit" class="btn btn-primary brn-block">Kaydet</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue'
import { useRouter } from "vue-router"
import { useToast } from "vue-toastification";
import $ from "jquery"
import axios from "@/plugins/axios"
import moment from "moment"

global.moment = require('moment');
global.moment.locale("tr")
require('tempusdominus-bootstrap-4');

export default {
  name: "RollCall",
  setup() {
    const router = useRouter()
    const toast = useToast()
    const st = reactive({
      rollcalls: [],
      form: {
        title: "",
        date: "",
      }
    });

    onMounted(() => {
      $('#form-date').datetimepicker({ format: 'YYYY-MM-DD' });
      $('#form-date').on("hide.datetimepicker", () => {
        st.form.date = $('#form-date').datetimepicker('viewDate')._i
      });

      axios.get("/api/rollcalls").then((res) => {
        st.rollcalls = res.data
      })
    })

    function dateHuman(date) {
      return moment(date).locale("tr").format("LL")
    }

    function saveRollCall() {
      axios.post("/api/rollcalls", st.form).then((res) => {
        st.rollcalls.push(res.data)
        st.form.title = st.form.date = ""
        $("#rollcall-modal-create").modal('hide');
        router.push({name: "RollCallDetail", params: {id: res.data.id}})
      }).catch((err) => {
        console.log(err.response);
      })
      toast.success("Yoklama Oluşturuldu")
    }

    return { st, dateHuman, saveRollCall }
  }
}
</script>

<style>
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
</style>
