<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Yoklama Detayları</h3>
            </div>
            <div class="card-body ">
              <form @submit.prevent="updateRollCall">
                <div class="form-group">
                  <label>Başlık</label>
                  <input v-model="st.rollcall.title" type="text" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>Tarih:</label>
                  <div class="input-group date" id="form-date" data-target-input="nearest">
                      <input v-model="st.rollcall.date"
                        type="text" class="form-control datetimepicker-input" data-target="#form-date"/>
                      <div class="input-group-append" data-target="#form-date" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Açıklama</label>
                  <textarea v-model="st.rollcall.description" class="form-control" rows="10"></textarea>
                </div>
                <button class="btn btn-info btn-block ">Kaydet</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bulunamayan Talebeler</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 100px;">
                  <button class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#rollcallitem-modal">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>No</th>
                    <th>Talebe</th>
                    <th>İşlem</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in st.items" :key="i.id">
                    <td>{{ i.id }}</td>
                    <td>{{ i.student.no }}</td>
                    <td>{{ i.student.fullname }}</td>
                    <td class="p-1">
                      <button @click="deleteRollCallItem(i.id)" class="btn btn-danger btn-block">Sil</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="rollcallitem-modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header p-2">
          <h4 class="modal-title">Talebe Ekle</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body p-0">
          <table class="table table-hover text-nowrap table-sm mb-0">
            <thead>
              <tr>
                <th>İşaretle</th>
                <th>No</th>
                <th>İsim</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="s in studentOptions()" :key="s.id">
                <td>
                  <!-- <label class="form-checkbox mx-4 double"> -->
                    <div class="form-checkbox mx-4 double">
                      <input type="checkbox" :value="s.id" v-model="st.selected_students">
                    </div>
                  <!-- </label> -->
                </td>
                <td>{{ s.no }}</td>
                <td>{{ s.fullname }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer p-1">
          <button @click="saveStudents" type="button" class="btn btn-primary">Kaydet</button>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue'
import { useStore } from "vuex"
import { useRoute} from 'vue-router'
import axios from "@/plugins/axios"
import $ from "jquery"
import { useToast } from "vue-toastification";

export default {
  name: "RollCallDetail",
  setup() {
    const route = useRoute()
    const toast = useToast()
    const store = useStore()

    const st = reactive({
      students: [],
      rollcall: {},
      items: [],
      selected_students: [],
    })

    onMounted(async () => {
      axios.get(`/api/rollcalls/${route.params.id}`).then((res) => {
        st.rollcall = res.data
      })

      axios.get(`/api/rollcalls/${route.params.id}/items?join=true`).then((res) => {
        st.items = res.data;
      })

      st.students = await store.getters.get_students;
    })

    function updateRollCall() {
      axios.put(`/api/rollcalls/${st.rollcall.id}`, st.rollcall)
      toast.info("Güncellendi")
    }

    function deleteRollCallItem(item_id) {
      axios.delete(`/api/rollcallitems/${item_id}`).then(() => {
        st.items = st.items.filter(item => item.id != item_id)
        toast.info("Silindi")
      })
    }

    function saveStudents() {
      st.selected_students.forEach((student) => {
        axios.post("/api/rollcallitems", {roll_call_id: st.rollcall.id, student_id: student}).then((res) => {
          res.data.student = st.students.find(s => s.id == student)
          st.items.push(res.data);
          st.selected_students = [];
          $("#rollcallitem-modal").modal('hide');
        })
      })
      toast.success("Talebeler kaydedildi.")
    }

    function studentOptions() {
      return st.students.filter( s => !st.items.some(i => i.student_id == s.id) )
    }

    return { st, studentOptions, updateRollCall, deleteRollCallItem, saveStudents }
  }
}
</script>

<style>
  input[type=checkbox] {
    transform: scale(2);
  }
</style>
