<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Talebe Detayları</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <form>
                <div class="form-group">
                  <label for="form-no">Talebe No</label>
                  <input v-model="st.form.no"
                    type="number" class="form-control" id="form-no" placeholder="Talebe numarasını giriniz"
                  >
                </div>
                <div class="form-group">
                  <label for="form-fullname">İsim Soyisim</label>
                  <input v-model="st.form.fullname"
                    type="text" class="form-control" id="form-fullname" placeholder="İsim soyisim giriniz"
                  >
                </div>
                  <button @click="updateStudent" type="button" class="btn btn-info btn-block">Talebeyi Güncelle</button>
              </form>

              <hr class="mt-4">
              <div class="alert alert-warning">
                <h3><i class="icon fas fa-ban"></i>Talebeyi Sil, Dikkat! Bu işlem geri alınamaz</h3>
                <p>
                Talebe silme işlemi bir defa yapıldıktan sonra geri getirilemez.
                </p>
                <button @click="deleteStudent" type="button" class="btn btn-danger btn-block">Talebeyi Sil</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue'
import { useRoute, useRouter } from "vue-router"
import { useToast } from "vue-toastification";
import axios from "@/plugins/axios"

export default {
  name: "StudentDetail",
  props: { form: Object },
  setup() {
    const route = useRoute()
    const router = useRouter()
    const toast = useToast()

    const st = reactive({
      student_id: 0,
      form: {
        no: "",
        fullname: "",
      },
      form_errors: {
        no: null,
        fullname: null,
      }
    })

    onMounted(() => {
      st.student_id = route.params.id;
      axios.get(`/api/students/${st.student_id}`).then((res) => {
        st.form = res.data;
      })
    })

    function updateStudent() {
      if (st.form.no == "" && st.form.fullname == "") {
        return;
      }

      axios.put(`/api/students/${st.student_id}`, st.form)
      .then((res) => {
        st.form = res.data
        toast.success("Güncellendi")
      })
      .catch((error) => {
        console.log(error.response.data.detail);
      })
    }

    function deleteStudent() {
      axios.delete(`/api/students/${st.student_id}`)
      .then(() => {
        toast.info("Talebe başarıyla silindi.")
        router.push({name: "Students"})
      })
      .catch((error) => {
        console.log(error.response);
      })
    }

    return { st, updateStudent, deleteStudent }
  }
}
</script>

<style>

</style>
