<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Talebe Listesi</h3>
              <div class="card-tools">
                <div class="input-group" style="width: 150px;">
                    <button class="btn btn-default btn-block" data-toggle="modal" data-target="#studentAddModal">
                      <i class="fas fa-plus"></i>
                    </button>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>No</th>
                    <th>İsim Soyisim</th>
                    <th>Detay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="s in state.students" :key="s.id">
                    <td>{{ s.id }}</td>
                    <td>{{ s.no }}</td>
                    <td>{{ s.fullname}}</td>
                    <td class="p-1">
                      <router-link :to="`/students/${s.id}`" class="btn btn-info btn-block">
                        <i class="fas fa-pen"></i>
                      </router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <CreateModal @new-student-added="addStudent"/>
</template>

<script>
import { onMounted, reactive } from 'vue';
import { useToast } from "vue-toastification";
import { useRouter } from "vue-router";
import { useStore } from "vuex"

import CreateModal from "@/components/student/CreateModal";

export default {
  name: "Student",
  components: { CreateModal },
  setup() {
    const toast = useToast();
    const router = useRouter();
    const store = useStore();

    const state = reactive({
      students: [],
    })

    onMounted(async () => {
      state.students = await store.getters.get_students;
    })

    function addStudent(data) {
      state.students.push(data);
      toast.success("Talebe Başarıyla eklendi");
      router.push({name: "StudentDetail", params: {id: data.id}});
    }

    return { state, addStudent };
  }
}
</script>

<style>

</style>
