<template>
  <section class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><b>MiSTek</b>Admin</a>
      </div>
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Panele ulaşmak için lütfen giriş yap</p>

          <form @submit.prevent="handleLogin">
            <div class="input-group mb-3">
              <input v-model="st.form.username" type="username" class="form-control" placeholder="Kullanıcı Adı">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input v-model="st.form.password" type="password" class="form-control" placeholder="Parola">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { reactive } from "vue"
import { useStore } from "vuex"
import { useRouter } from "vue-router"
import axios from "@/plugins/axios"

export default {
  name: "Login",
  setup() {
    const store = useStore();
    const router = useRouter();
    const st = reactive({
      form: {
        username: "",
        password: "",
        grant_type: "password",
      }
    })

    function handleLogin() {
      let data = new FormData();
      data.append("username", st.form.username)
      data.append("password", st.form.password)
      data.append("grant_type", "password")

      axios.post("/api/auth/token", data).then((res) => {
        store.dispatch("SET_ACCESS_TOKEN", res.data.access_token)
        axios.defaults.headers.common['Authorization'] = `Bearer ${res.data.access_token}`;

        axios.get("/api/auth/me").then((res) => {
          store.dispatch("SET_USER", res.data)
          router.push("/")
        })
      })
      .catch((err) => {
        console.log(err.response);
      })
    }

    return { st, handleLogin }
  }
}
</script>

<style>

</style>
