<template>
  <div class="wrapper">

    <Navbar/>

    <Sidebar/>

    <div class="content-wrapper">
      <router-view></router-view>
    </div>

    <Footer/>
  </div>
</template>

<script>
import "@fortawesome/fontawesome-free"
import "popper.js"
import "bootstrap"

window.$ = window.jQuery = require('jquery');
require("admin-lte")

import Sidebar from "../components/partials/Sidebar";
import Navbar from "../components/partials/Navbar";
import Footer from "../components/partials/Footer";

export default {
  name: "Dashboard",
  components: { Sidebar, Navbar, Footer },
}
</script>

<style>
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
</style>
