<template>
  <router-view></router-view>
</template>

<script>
import "@fortawesome/fontawesome-free"
import "popper.js"
import "bootstrap"

window.$ = window.jQuery = require('jquery');
require("admin-lte")

export default {
  name: "PublicLayout",
}
</script>

<style>
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';
</style>
