<template>
  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Mimar Sinan Tekamül
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2021 <a href="#">MiSTek</a>.</strong> All rights reserved.
  </footer>
</template>

<script>
export default {
  name: "Footer",
}
</script>

<style>

</style>
