<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button">
          <i class="fas fa-bars"></i>
          </a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <router-link to="/about" class="nav-link">Hakkında</router-link>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle border rounded-lg" data-toggle="dropdown">
          <span class="d-md-inline"><b>{{ username }}</b></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <li class="p-3">
            <button @click="logout" class="btn btn-default btn-block">Sign out</button>
          </li>
        </ul>
      </li>
    </ul>

  </nav>
</template>

<script>
export default {
  name: "Navbar",
  data() {
    return {
      username: null,
    }
  },
  mounted() {
    this.username = this.$store.state.auth.user.username
  },
  methods: {
    logout() {
      this.$store.dispatch("LOG_OUT")
      this.$router.push("/login")
    },
  }
}
</script>

<style>

</style>
