<template>
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <router-link to="/" class="brand-link text-center">
      <span class="brand-text font-weight-light">
        <strong>MisTek</strong>
      </span>
    </router-link>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <router-link to="/users" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Kullanıcılar</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/students" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Talebeler</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/cooker" class="nav-link">
              <i class="nav-icon fas fa-utensils"></i>
              <p>Yemekçiler</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/incumbent" class="nav-link">
              <i class="nav-icon fas fa-mosque"></i>
              <p>Vazifeliler</p>
            </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/rollcall" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>Yoklamalar</p>
            </router-link>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
  </aside>
</template>

<script>
export default {
  name: "Sidebar",
}
</script>

<style>

</style>
