<template>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Yemekçiler</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Cooker</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container-fluid">

          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Yemekçi Ekle</h3>
            </div>
            <div class="card-body">
              <form @submit.prevent="submit">

                <div class="row">
                  <div class="col-md-5">

                    <div class="form-group">
                      <label>Talebe</label>
                      <select v-model="st.form.student_id" class="form-control">
                        <option v-for="s in st.students" :key="s.id" :value="s.id">
                          {{s.no}} - {{ s.fullname }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-5">

                    <div class="form-group">
                      <label>Tarih:</label>
                      <div class="input-group date" id="form-date" data-target-input="nearest">
                          <input v-model="st.form.date"
                            type="text" class="form-control datetimepicker-input" data-target="#form-date"/>
                          <div class="input-group-append" data-target="#form-date" data-toggle="datetimepicker">
                              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                          </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2 flex">
                    <label style="visibility:hidden;" >just for alignment</label>
                    <button type="submit" class="btn btn-primary btn-block align-bottom">Yemekçiyi Ekle</button>
                  </div>
                </div>

              </form>
            </div>
          </div>


      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Yemekçiler</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-hover text-nowrap">
            <thead>
              <tr>
                <th>Tarih</th>
                <th>Yemekçiler</th>
                <th>Detay</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(c, date) in st.cooker_list" :key="c.id">
                <td>{{ human_date(date) }}</td>
                <td class="p-1">
                  <ul class="list-group list-group-horizontal">
                    <li v-for="i in c" :key="i.id" class="list-group-item py-2">
                      {{ gs(i.student_id).no }} - {{ gs(i.student_id).fullname }}
                    </li>
                  </ul>
                </td>
                <td class="p-1">
                  <router-link :to="`/cookers/${date}`" class="btn btn-info btn-block">
                    <i class="fas fa-info"></i>
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue';
import { useStore } from "vuex"
import $ from "jquery"
import axios from "@/plugins/axios"
import { useToast } from "vue-toastification";

global.moment = require('moment');
global.moment.locale("tr")
require('tempusdominus-bootstrap-4');


export default {
  name: "Cooker",
  setup() {
    const store = useStore()
    const toast = useToast()

    const st = reactive({
      cooker_list: [],
      cookers_today: [],
      cookers: [],
      students: [],
      today: "",
      today_LL: "",
      form: {
        student_id: "",
        date: "",
      }
    })

    onMounted(async () => {
      $('#form-date').datetimepicker({ format: 'YYYY-MM-DD' });
      $('#form-date').on("hide.datetimepicker", () => {
        st.form.date = $('#form-date').datetimepicker('viewDate')._i
      });

      st.students = await store.getters.get_students;

      axios.get("/api/cookers").then((res) => {
        st.cookers = res.data;
        st.cooker_list = group_cookers(res.data)
      })
    })

    function group_cookers(array) {
      let group = array.reduce((r, a) => {
        r[a.date] = [...r[a.date] || [], a];
        return r;
      }, {});

      const _group = Object.keys(group).sort().reverse().reduce((obj, key) => {
          obj[key] = group[key];
          return obj;
        },
        {}
      );

      return _group;
    }

    function submit() {
      if(st.form.student_id == "" || st.form.date == "") {
        return toast.warning("Lütfen formu dikkatlice doldurun!")
      }

      axios.post("/api/cookers", st.form).then((res) => {
        st.form.student_id = st.form.date = ""
        st.cookers.push(res.data)
        st.cooker_list = group_cookers(st.cookers)
        toast.success("Yemekçi eklendi")
      }).catch(() => {
        toast.error("Bir hata meydana geldi. Yemekçi Eklenemiyor. Daha önceden eklenmiş olabilir.")
      })
    }

    function gs(id) {
      return store.getters.student_by_id(id)
    }

    function human_date(date) {
      return global.moment(date).format("LL dddd")
    }

    return { st, submit, gs, human_date }
  }
}
</script>

<style>
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
</style>
