<template>

  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Bügünün Yemekçileri ({{ st.today }})</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>No</th>
                <th>İsim Soyisim</th>
                <th>Sil</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="c in st.cookers" :key="c.id">
                <td>{{ c.no }}</td>
                <td>{{ c.fullname }}</td>
                <td class="p-1">
                  <button @click="remove_cooker(c.id)" class="btn btn-danger btn-block">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { reactive, onMounted } from 'vue'
import { useRoute} from "vue-router"
import { useStore} from "vuex"
import axios from "@/plugins/axios"
import { useToast } from "vue-toastification";
import { human_date } from "@/plugins/moment"

export default {
  name: "CookerDetail",
  setup() {
    const route = useRoute()
    const store = useStore()
    const toast = useToast()

    const st = reactive({
      students: [],
      cookers: [],
      today: null,
    })

    onMounted(async () => {
      st.students = await store.getters.get_students;

      axios.get(`/api/cookers/date/${route.params.date}/students`).then((res) => {
        st.cookers = res.data
      }).catch(() => {
        toast.error("Bir hata meydana geldi. Lütfen Daha sonra deneyin.")
      })

      st.today = human_date(route.params.date);
    })

    function remove_cooker(cooker_id) {
      axios.delete(`/api/cookers/date/${route.params.date}/${cooker_id}`).then(() => {
        st.cookers = st.cookers.filter((c) => c.id != cooker_id)
        toast.success("Yemekçi Silindi")
      }).catch(() => {
        toast.error("Bir hata meydana geldi. Lütfen Daha sonra deneyin.")
      })
    }

    return { st, remove_cooker }
  }
}
</script>

<style>

</style>
