<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Kullanıcı Güncelle</h3>
        </div>
        <div class="card-body">
          <form @submit.prevent="updateUser">
            <div class="form-group">
              <label for="form-username">Kullanıcı Adı</label>
              <input v-model="form.username"
                type="text" class="form-control" id="form-username" placeholder="Kullanıcı Adınızı giriniz"
              >
            </div>
            <div class="form-group">
              <label for="form-email">Email</label>
              <input v-model="form.email" :class="{'is-invalid': form_errors.email}"
                type="email" class="form-control" id="form-email" placeholder="Email Adresinizi girinizs"
              >
              <div class="invalid-feedback">{{ form_errors.email }}</div>
            </div>
            <button class="btn btn-primary btn-block">KAYDET</button>
          </form>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Parola Değiştir</h3>
        </div>
        <div class="card-body">
          <form @submit.prevent="changePassword">
            <div class="form-group">
              <label for="form-password">Parola</label>
              <input v-model="password_form.password"
                type="password" class="form-control" id="form-password" placeholder="Çok gizli bir parola"
              >
            </div>
            <div class="form-group">
              <label for="form-password-repeat">Parola Tekrar</label>
              <input v-model="password_form.password_repeat"
                type="password" class="form-control" id="form-password-repeat" placeholder="Çok gizli bir parola"
              >
            </div>
            <button class="btn btn-primary btn-block">Parolayı Değiştir</button>
          </form>
        </div>
      </div>

      <div class="card border border-danger">
        <div class="card-header">
          <h3 class="card-title text-danger">Teklikeli Alan</h3>
        </div>
        <div class="card-body">
          <p>Kullanıcıyı sil</p>
          <form @submit.prevent="deleteUser">
            <button class="btn btn-danger btn-block">SİL</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import axios from "@/plugins/axios"
import { useToast } from "vue-toastification";

export default {
  name: "UserDetail",
  setup() {
    return {
      toast: useToast()
    }
  },
  data() {
    return {
      user_id: null,
      form: {},
      form_errors: {},
      password_form: {
        password: "",
        password_repeat: "",
      },
    }
  },
  mounted() {
    this.user_id = this.$route.params.id;
    axios.get(`/api/users/${this.user_id}`).then((res) => this.form = res.data)
  },
  methods: {
    reset_form_errors() {
      this.form_errors.username = this.form_errors.email = this.form_errors.password = null
    },

    updateUser() {
      if (this.form.username == "" && !this.form.email.includes("@") && this.form.password == "") {
        return ;
      }

      if(this.form.password != this.form.password_repeat) {
        return console.log("password eşleşmiyor")
      }

      axios.put(`/api/users/${this.$route.params.id}`, this.form)
      .then((res) => {
        console.log(res)
        this.toast.success("Kullanıcı Güncellendi");
      })
      .catch((error) => {
        error.response.data.detail.forEach((err) => {
          if (err.type == "value_error.email")
            this.form_errors.email = err.msg
        })
        this.toast.warning("Güncelleme sırasında hata meydana geldi. Daha sonra tekrar dene");
      })
    },

    changePassword () {
      if (this.password_form.password == "" || this.password_form.password_repeat == "") {
        this.toast.warning("Parola alanları boş bırakılamaz.")
        return console.log("password eşleşmiyor")
      }

      if (this.password_form.password != this.password_form.password_repeat) {
        this.toast.warning("Parolalar eşleşmiyor.")
        return console.log("password eşleşmiyor")
      }

      axios.post(`/api/users/${this.user_id}/change-password`, this.password_form)
      .then( () => {
        this.password_form.password = this.password_form.password_repeat = ""
        this.toast.success("Parola başarıyla değiştirildi.")
      })
      .catch(err => {
        console.log(err);
        console.log(err.data);
        console.log(err.response);
      })
    },

    deleteUser () {
      axios.delete(`/api/users/${this.user_id}`)
      .then(() => {
        this.$router.push("/users")
      })
      .catch((error) => {
        console.log(error.response);
      })
    }
  }
}
</script>

<style>

</style>
