<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Vazifeli Oluştur</h3>
            </div>
            <div class="card-body">
              <form @submit.prevent="addUser">
                <div class="form-group">
                  <label for="form-username">Kullanıcı Adı</label>
                  <input v-model="form.username"
                    type="text" class="form-control" id="form-username" placeholder="Kullanıcı Adınızı giriniz"
                  >
                </div>
                <div class="form-group">
                  <label for="form-email">Email</label>
                  <input v-model="form.email" :class="{'is-invalid': form_errors.email}"
                    type="email" class="form-control" id="form-email" placeholder="Email Adresinizi girinizs"
                  >
                  <div class="invalid-feedback">{{ form_errors.email }}</div>
                </div>
                <div class="form-group">
                  <label for="form-password">Parola</label>
                  <input v-model="form.password"
                    type="password" class="form-control" id="form-password" placeholder="Çok gizli bir parola"
                  >
                </div>
                <div class="form-group">
                  <label for="form-password-repeat">Parola Tekrar</label>
                  <input v-model="form.password_confirm"
                    type="password" class="form-control" id="form-password-repeat" placeholder="Çok gizli bir parola"
                  >
                </div>
                <button class="btn btn-primary btn-block">EKLE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/plugins/axios"
import { useToast } from "vue-toastification";

export default {
  name: "UserNew",
  setup() {
    return {
      toast: useToast()
    }
  },
  data() {
    return {
      form: {},
      form_errors: {},
    }
  },
  methods: {
    reset_form_errors() {
      this.form_errors.username = this.form_errors.email = this.form_errors.password = null
    },

    addUser() {
      if (this.form.username == "" && !this.form.email.includes("@") && this.form.password == "") {
        return ;
      }

      if(this.form.password != this.form.password_confirm) {
        return console.log("password eşleşmiyor")
      }

      axios.post("/api/users", this.form)
      .then((res) => {
        this.toast.success("Kullanıcı başarıyla eklendi")
        this.$router.push(`/users/${res.data.id}`)
      })
      .catch((error) => {
        error.response.data.detail.forEach((err) => {
          if (err.type == "value_error.email")
            this.form_errors.email = err.msg
        })
      })
    },
  }
}
</script>

<style>

</style>
