<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Kullanıcı Listesi</h3>
              <div class="card-tools">
                <div class="input-group" style="width: 150px;">
                    <router-link to="/users/new" class="btn btn-default btn-block">
                      <i class="fas fa-plus"></i>
                    </router-link>
                </div>
              </div>
            </div>
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Email</th>
                    <th>Durum</th>
                    <th>Detay</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="u in state.users" :key="u.id">
                    <td>{{ u.username }}</td>
                    <td>{{ u.email}}</td>
                    <td>
                      <span v-if="u.is_active" class="text-success">Aktif</span>
                      <span v-else class="text-danger">Pasif</span>
                    </td>
                    <td class="p-1">
                      <router-link :to="`/users/${u.id}`" class="btn btn-info btn-block">Detail</router-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { onMounted, reactive } from 'vue'
import axios from "@/plugins/axios"

export default {
  name: "Uses",
  setup() {
    const state = reactive({
      users: [],
    });

    onMounted(() => {
      axios.get("/api/users").then((res) => {
        state.users = res.data
      })
    })

    function listUsers() {
      axios.get("/api/users").then((res) => state.users = res.data)
    }

    return { state, onMounted, listUsers }
  }
}
</script>

<style>

</style>
