<template>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active">Özet</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bügünün Yemekçileri ({{ st.today_LL }})</h3>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>No</th>
                    <th>İsim Soyisim</th>
                    <th>Sil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="c in st.cookers" :key="c.id">
                    <td>{{ c.no }}</td>
                    <td>{{ c.fullname }}</td>
                    <td>
                      <button @click="remove_cooker(c.id)" class="btn btn-danger">
                        <i class="fas fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Bugünün vazifelileri ({{ st.todayLL }})</h3>
            </div>
            <div class="card-body p-0">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th>İmam</th>
                    <td>{{ st.incumbent_today.imam.fullname }}</td>
                  </tr>
                  <tr>
                    <th>Müezzin</th>
                    <td>{{ st.incumbent_today.muezzin.fullname }}</td>
                  </tr>
                  <tr>
                    <th>Hatim</th>
                    <td>{{ st.incumbent_today.hatib.fullname }}</td>
                  </tr>
                  <tr>
                    <th>1. Nöbetçi</th>
                    <td>{{ st.incumbent_today.nobetci1.fullname }}</td>
                  </tr>
                  <tr>
                    <th>2. Nöbetçi</th>
                    <td>{{ st.incumbent_today.nobetci2.fullname }}</td>
                  </tr>
                </tbody>
              </table>
              <p class="m-4">{{ st.incumbent_today.note }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue';
import axios from "@/plugins/axios"
import moment from "moment"

export default {
  name: "Dashboard",
  setup() {
    const st = reactive({
      today: "",
      today_LL: "",
      cookers: "",
      incumbent_today: {
        imam: {},
        muezzin: {},
        hatib: {},
        nobetci1: {},
        nobetci2: {},
      },
    })

    onMounted(() => {
      moment.locale("tr")

      axios.get("/api/cookers/today").then((res) => {
        st.cookers = res.data.cookers
        st.today = res.data.today
        st.today_LL = moment(res.data.today).format("LL")
      })

      axios.get("/api/incumbents/today").then((res) => {
          st.incumbent_today = res.data.incumbent
          st.today = res.data.today;
        })
    })

    return { st }
  }
}
</script>

<style>

</style>
