<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 offset-md-3">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Vazifeli Düzenle</h3>
            </div>
            <form @submit.prevent="update" class="needs-validation">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label>İmam</label>
                  <select v-model="st.incumbent.imam_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <div class="form-group">
                  <label>Müezzin</label>
                  <select v-model="st.incumbent.muezzin_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Hatib</label>
                  <select v-model="st.incumbent.hatib_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nöbetçi 1</label>
                  <select v-model="st.incumbent.nobetci1_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nöbetçi 2</label>
                  <select v-model="st.incumbent.nobetci2_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Tarih:</label>
                  <div class="input-group date" id="form-date" data-target-input="nearest">
                      <input v-model="st.incumbent.date" required
                        type="text" class="form-control datetimepicker-input" data-target="#form-date"/>
                      <div class="input-group-append" data-target="#form-date" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Notlar</label>
                  <textarea v-model="st.incumbent.note"
                    required class="form-control" rows="6" placeholder="Notlar ..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
              </div>
            </form>
          </div>

        </div>
    </div>

    </div>
  </div>
</template>

<script>
import { reactive, onMounted } from 'vue'
import { useRoute } from "vue-router"
import { useStore } from "vuex"
import axios from "@/plugins/axios"
import { useToast } from "vue-toastification";

export default {
  name: "Incumbent Detail",
  setup() {
    const route = useRoute();
    const toast = useToast()
    const store = useStore();

    const st = reactive({
      students: [],
      incumbent: {},
    })

    onMounted(async () => {
      st.students = await store.getters.get_students;

      axios.get(`/api/incumbents/${route.params.id}`).then((res) => {
        st.incumbent = res.data
      })
    })

    function update() {
      axios.put(`/api/incumbents/${route.params.id}`, st.incumbent).then((res) => {
        st.incumbent = res.data
        toast.success("Güncellendi")
      })
    }

    return { st, update }
  }
}
</script>

<style>

</style>
