<template>
  <div class="content-header">
    <div class="container-fluid">
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Vazifeliler</h3>
          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 100px;">
              <router-link to="/incumbent/new" class="btn btn-default btn-block">
                <i class="fa fa-plus"></i>
              </router-link>
            </div>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Tarih</th>
                <th>İmam</th>
                <th>Müezzin</th>
                <th>Hatim</th>
                <th>Santral 1</th>
                <th>Santral 2</th>
                <th>İşlem</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in st.incumbents" :key="i.id">
                <td>{{ date_ll(i.date) }}</td>
                <td>{{ get_student(i.imam_id).fullname }}</td>
                <td>{{ get_student(i.muezzin_id).fullname }}</td>
                <td>{{ get_student(i.hatib_id).fullname }}</td>
                <td>{{ get_student(i.nobetci1_id).fullname }}</td>
                <td>{{ get_student(i.nobetci2_id).fullname }}</td>
                <td class="p-1">
                  <router-link :to="`/incumbent/${i.id}`"  class="btn btn-info btn-block">
                    <i class="fas fa-info"></i>
                  </router-link>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "@/plugins/axios"
import { onMounted, reactive } from 'vue'
import { useStore } from "vuex"
import $ from "jquery"
import { human_date } from "@/plugins/moment"

global.moment = require('moment');
global.moment.locale("tr")
require('tempusdominus-bootstrap-4');

export default {
  name: "Incumbent",
  setup() {
    const store = useStore()

    const st = reactive({
      students: [],
      today: "",
      incumbents: [],
    })

    onMounted(async () => {
      $('#form-date').datetimepicker({ format: 'YYYY-MM-DD' });
      $('#form-date').on("hide.datetimepicker", () => {
        st.form.date = $('#form-date').datetimepicker('viewDate')._i
      });

      st.students = await store.getters.get_students;

      axios.get("/api/incumbents").then((res) => {
        st.incumbents = res.data
      })
    })

    function get_student(id) {
      return st.students.find(s => s.id == id)
    }

    function todayLL() {
      return global.moment(st.today).format("LL")
    }

    function date_ll(date) {
      return human_date(date)
    }

    return { st, todayLL, date_ll, get_student }
  }
}
</script>

<style>
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
</style>
