<template>
  <div class="content-header"></div>

  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 offset-md-3">

          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Vazifeli Oluştur</h3>
            </div>
            <form @submit.prevent="create" class="needs-validation">
              <div class="card-body pb-2">
                <div class="form-group">
                  <label>İmam</label>
                  <select v-model="st.form.imam_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Müezzin</label>
                  <select v-model="st.form.muezzin_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Hatib</label>
                  <select v-model="st.form.hatib_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nöbetçi 1</label>
                  <select v-model="st.form.nobetci1_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Nöbetçi 2</label>
                  <select v-model="st.form.nobetci2_id" class="form-control" required>
                    <option v-for="s in st.students" :key="s.id" :value="s.id">
                      {{s.no}} - {{ s.fullname }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Tarih:</label>
                  <div class="input-group date" id="form-date" data-target-input="nearest">
                      <input v-model="st.form.date" required
                        type="text" class="form-control datetimepicker-input" data-target="#form-date"/>
                      <div class="input-group-append" data-target="#form-date" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Notlar</label>
                  <textarea v-model="st.form.note"
                    required class="form-control" rows="6" placeholder="Notlar ..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Kaydet</button>
              </div>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue'
import { useRouter } from "vue-router"
import { useStore } from "vuex"
import { useToast } from "vue-toastification";
import axios from "@/plugins/axios"
import $ from "jquery"

global.moment = require('moment');
global.moment.locale("tr")
require('tempusdominus-bootstrap-4');

export default {
  name: "NewIncumbent",
  setup() {
    const router = useRouter()
    const toast = useToast()
    const store = useStore()

    const st = reactive({
      students: [],
      form: {
        imam_id: "",
        muezzin_id: "",
        hatib_id: "",
        nobetci1_id: "",
        nobetci2_id: "",
        date: "",
        note: "",
      }
    })

    onMounted(async () => {
      $('#form-date').datetimepicker({ format: 'YYYY-MM-DD' });
      $('#form-date').on("hide.datetimepicker", () => {
        st.form.date = $('#form-date').datetimepicker('viewDate')._i
      });

      st.students = await store.getters.get_students;
    })

    function create() {
      axios.post("/api/incumbents", st.form).then((res) => {
        toast.success("Created")
        router.push({name: "IncumbentDetail", params: {id: res.data.id}})
      })
    }

    return { st, create }
  }
}
</script>

<style>
@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
</style>
