<template>
  <div class="modal fade" id="studentAddModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Talebe Ekle</h5>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="form-no">Talebe No</label>
              <input v-model="state.form.no"
                type="number" class="form-control" id="form-no" placeholder="Talebe numarasını giriniz"
              >
            </div>
            <div class="form-group">
              <label for="form-fullname">İsim Soyisim</label>
              <input v-model="state.form.fullname"
                type="text" class="form-control" id="form-fullname" placeholder="İsim soyisim giriniz"
              >
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
          <button @click="addStudent" type="button" class="btn btn-primary">Talebeyi Kaydet</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive } from 'vue'
import axios from "@/plugins/axios"
import $ from "jquery"

export default {
  name: "CreateModal",
  setup(_, { emit }) {
    const state = reactive({
      form: {
        no: "",
        fullname: "",
      },
      form_errors: {
        no: null,
        fullname: null,
      }
    })

    onMounted(() => {
      $('#studentAddModal').on('hidden.bs.modal', () => {
        reset_form()
        reset_form_errors()
      })
    })

    function reset_form() {
      state.form.no = state.form.fullname = ""
    }

    function reset_form_errors() {
      state.form_errors.no = state.form_errors.fullname = null
    }

    function addStudent() {
      if (state.form.no == "" && state.form.fullname == "") {
        return;
      }

      axios.post("/api/students", state.form)
      .then((res) => {
        reset_form()
        $("#studentAddModal").modal('hide');
        emit("new-student-added", res.data)
      })
      .catch((error) => {
        console.log(error.response);
      })
    }

    return { state, addStudent }
  }
}
</script>

<style>

</style>
